<a href="https://colab.research.google.com/github/samuelgh15/daa_2021_1/blob/master/26Otubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def ejemplo7( n ):
  count = 0
  for i in range( n ) :
    for j in range( 25 ) :
      for k in range( n ):
        count += 1
  return count

  ejemplo7(3)

In [ ]:
def ejemplo7_2( n ):
  count = 0
  for i in range( n ) :
    for j in range( 25 ) :
      for k in range( n ):
        count += 1
        for k in range( n ):
          count += 1
  return count

  ejemplo7_2(3)

In [ ]:
def ejemplo8( numeros ):
  total = 0
  for index in range(len(numeros)):
    total = numeros[index]
  return total
  
ejemplo8(numeros)

In [ ]:
def ejemplo9(  n ):
  contador = 0
  basura = 0
  for i in range( n ) :
    contador += 1
  for j in range( n ) :
    contador += 1
  basura = basura + contador
  return contador

print(ejemplo9( 5 ))

10

In [ ]:
def ejemplo10( n ):
  count = 0
  for i in range( n ) :
    for j in range( i+1 ) :
      count += 1
  return count

print(ejemplo10( 5 ))

"""

n= 3
000
n00 <-- aqui empieza el for interno
nn0 <--- aqui termina el for interno
nnn
n = 4
0000
n000 <-- aqui empieza el for interno
nn00
nnn0 <--- aqui termina el for interno
nnnn

n =5
00000
n0000 <-- aqui empieza el for interno
nn000
nnn00
nnnn0 <--- aqui termina el for interno
nnnnn
"""

15

In [3]:
def ejemplo11( n ):
    count = 0
    i = n
    while i > 1 :
        count += 1
        i = i // 2 
    return count
print(ejemplo11(16))
# T(n) =  2 + (2 Log 2 n)

4

In [3]:
def ejemplo12( n ):
    contador = 0
    for x in range(n):
        contador += ejemplo11(x)
    return contador

    def ejemplo12_bis( n=5 ):
    contador = 0
    contador = contador + ejemplo11(0) # 0
    contador = contador + ejemplo11(1) # 0
    contador = contador + ejemplo11(2) # 1
    contador = contador + ejemplo11(3) # 1
    contador = contador + ejemplo11(4) # 2
    return contador
ejemplo12_bis( 5 )

In [1]:
def ejemplo13( x ):
    bandera = x
    contador = 0
    while( bandera >= 10):
        print(f" x = { bandera } ")
        bandera /= 10
        contador = contador + 1
    print(contador)
# T(x) = log10 x +1
ejemplo13( 1000 )

 x = 1000
 x = 100.0
 x = 10.0
3

In [4]:
def ejemplo14( n ):
    y = n
    z = n
    contador = 0
    while y >= 3: #3
        y /= 3  # 1
        contador += 1  # cont =3
    
    while z >= 3: #27
        z /= 3
        contador += 1
    return contador
print(ejemplo14( 27 ))

6

In [5]:
def ejemplo15( n ): 
    contador = 0
    for i in range( n ) :
        for j in range( n ) :
            contador += 1
            
    while n > 1 :
        contador += 1
        n /= 2
    return contador

print(ejemplo15(10))

104